<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<%= link_to 'New Entry', new_entry_path %>

<dl>
  <% @entries.each do |entry| %>
    <dt><%= entry.link %></dt>
    <dd><%= entry.description %></dd>
    <dd>
      <%= link_to 'Show', entry %>
      <%= link_to 'Edit', edit_entry_path(entry) %>
      <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
    </dd>
  <% end %>
</dl>
<br>
